::ng-deep .p-card .p-card-title{
    margin-bottom: 40px;
}

::ng-deep .p-card .p-card-body{
    padding: 0;
}

::ng-deep .p-card .p-card-title{
    font-size: 18px;
}

div.container{
    display: flex;
    flex-direction: column;
}

div.buttons-container{
    padding:30px 77px;
}

div.buttons-container > button.button-back-sigma{
    cursor:pointer;
    border: none;
    background: none;
    color: #3457fa;
    font-weight: bold;
    font-size: 16px;
}

div.container-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.container-productos > div.container-productos__producto{
    width: 33%;
    height:100px;
    display:flex,;
    flex-direction: row;
    cursor: pointer;
}

div.container-productos__producto > div.container-icon{
    width: 100px;
    margin-right: 15px;
}

div.container-productos__producto > div.container-icon > div.icon{
    width: 90px;
    height:90px;
    background-color:#3457fa;
    border-radius: 100px;
    box-shadow: 0 2px 12px 0 rgba(0, 52, 148, 0.08);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
}

.icon-desactivado {
    background-color: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(0, 52, 148, 0.08);
    width: 90px;
    height:90px;
    border-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
}

.texto-desactivado{
    color: #949494;
}


div.container-productos__producto > div.container-icon > div.container-info{
    width: 70%;
    display: flex;
    flex-direction: column;
}

div.container-info > div > h3{
    font-size: 18px;
    line-height: 26px;
}

div.container-info > div > p{
    font-size: 12px;
    line-height: 16px;
    color:#333;
    font-weight: 300;
}