<div class="container">
    <div class="buttons-container">
        <button class="button-back-sigma" (click)="goSigma()" [routerLink]="['/productos']"> < Volver</button>
    </div>
    <p-card header= "Seleccioná el objeto a cotizar" [style]="{'max-width':'1100px','margin':'0 auto', 'padding':'32px 77px'}">
        <div class="container-productos">
            <div (click)="mostrarPlanesProducto(producto.activado)" [ngStyle]="{'cursor':producto.activado === true ? 'pointer' : 'auto' }" class="container-productos__producto" *ngFor="let producto of productos">
                <div class="container-icon">
                    <div class="icon-desactivado" [style.background-image]="'url(' + producto.icon + ')'">
                    </div>
                </div>
                <div class="container-info">
                    <div><h3 class="titulo" [ngStyle]="{'color': producto.activado === false ? '#949494' : 'black'}"> {{ producto.titulo }} </h3></div>
                    <div>
                        <p class="descripcion" [ngStyle]="{'color': producto.activado === false ? '#949494' : 'black'}"> {{ producto.descripcion}} </p>
                    </div>
                </div>
            </div>
        </div>
    </p-card>
    
</div>
