//global
@font-face {
  font-family: 'Roboto Light';
  src: url('../../fonts/Roboto-Light.ttf') format('opentype');
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('../../fonts/Roboto-Regular.ttf') format('opentype');
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('../../fonts/Roboto-Medium.ttf') format('opentype');
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('../../fonts/Roboto-Bold.ttf') format('opentype');
}
$fontFamilyLight: 'Roboto Light';
$fontFamilyRegular: 'Roboto Regular';
$fontFamilyMedium: 'Roboto Medium';
$fontFamilyBold: 'Roboto Bold';
$primaryColor: #015d93;
$primaryLightColor: #809bbd;
$primaryTextColor: #333333;

$topBarMenuitemBorderColor: #f5f6f9;
$topBarMenuItemTextColor: #333333;

$primaryColorButton: #006cab;

$colorDeshabilitado: rgba(187, 187, 187, 0.4) !important;
//Inputs, dropdowns y autocomplete
$inputColor: #666;
$inputBorderColor: #bbbbbb;
$inputBoxShadowColor: #a6a6a6;
$inputFontFamily: 'Roboto Regular';
$inputFontSize: 14px;

$inputTextErrorColor: #a00000;
$inputErrorColor: #e40000;

$dropdownColor: #938fa1;
$dropdownBackgroundColorHover: #f2f2f2;

$labelColor: #aaaaaa;
$labelFontFamily: 'Roboto Regular';
$labelFontSize: 12px;

$iconColor: #6c727c;

//Inputs, dropdowns y autocomplete
$inputColor: #666;
$inputBorderColor: #bbbbbb;
$inputBoxShadowColor: #a6a6a6;
$inputFontFamily: 'Roboto Regular';
$inputFontSize: 14px;

$inputTextErrorColor: #a00000;
$inputErrorColor: #e40000;

$dropdownColor: #938fa1;
$dropdownBackgroundColorHover: #f2f2f2;
//paginador
$paginadorPaginatorCurrentColor: #949494;
$paginadorPaginatorPageColor: #aaaaaa;
$paginadorPaginatorPageActivoColor: #666666;
$paginadorPaginatorPageActivoFondoColor: #f2f2f2;
$paginadorPaginatorPageHoverFondoColor: #e3e3e3;
$paginadorFlechaDeshabilitadaColor: #bbbbbb;
$paginadorFlechaHabilitadaColor: #333333;
$labelColor: #aaaaaa;
$labelFontFamily: 'Roboto Regular';
$labelFontSize: 12px;

$iconColor: #6c727c;

// spinner
$spinnerColor: #4b74ff;
@import '../variables/common';
@import '../layout/layout_light';
@import '../layout/_layout';
