/* Add your customizations of theme here */
@import '../layout/ma-layout.scss';

/* Modificación del accordion */
.p-accordion {
  .p-accordion-header {
    .p-accordion-header-link {
      background: #ffffff;
      color: #767676;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.4px;
      border: none;
      box-shadow: none;
      .p-accordion-toggle-icon {
        position: absolute;
        right: 0;
      }
    }
    &:not(.p-disabled) {
      .p-accordion-header-link {
        &:focus {
          box-shadow: none;
        }
      }
    }
    &:not(.p-highlight):not(.p-disabled):hover {
      .p-accordion-header-link {
        background: #ffffff;
        border: none;
        box-shadow: none;
      }
    }
    &:not(.p-disabled).p-highlight {
      .p-accordion-header-link {
        background: #ffffff;
        border: none;
        box-shadow: none;
      }
      &:hover {
        .p-accordion-header-link {
          background: #ffffff;
          border: none;
          box-shadow: none;
        }
      }
    }
  }
}

//Remuevo borde del content
.p-accordion .p-accordion-content {
  // border-left: none;
  // border-right: none;
  // border-top: 1px solid #eee;
  // border-bottom: 1px solid #eee;
  border: none;
  margin-bottom: 14px;
  padding-bottom: 10px;
  margin-top: 14px;
  padding-top: 10px;
  display: block;
  width: 100%;
}

.p-accordion-header-text {
  line-height: 20px !important;
}

//Fin accordion
// Modificacion del label flotante en los inputs
.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  left: 0px;
  top: -1.25rem;
  color: #aaaaaa;
}

.p-float-label textarea.p-filled ~ label {
  top: -2.25rem;
}

//Fin Label Input
//Stepper
.p-steps .p-steps-item .p-menuitem-link .p-steps-number {
  border-radius: 50%;
}

.p-steps .p-steps-item:not(.p-highlight) .p-menuitem-link .p-steps-number {
  background-color: #b4b4b4;
  color: #ffffff;
}

.p-steps .p-steps-item:first-child::before {
  left: 50%;
}

.p-steps .p-steps-item:last-child::before {
  left: -50%;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-title {
  text-align: center;
  white-space: initial;
}

@media (max-width: 576px) {
  .p-steps .p-steps-item .p-menuitem-link .p-steps-title {
    max-width: 70px;
  }
}
//Fin Stepper

/* Sobreescribir inputSwitch */
.p-inputswitch {
  .p-inputswitch-slider {
    width: 36px;
    height: 20px;
    padding: 2px 18px 2px 2px;
    border-radius: 14px;
    border: solid 2px #dddddd;
    background-color: #f2f2f2;
    box-shadow: none !important;
    &:before {
      width: 16px;
      height: 16px;
      box-shadow: none !important;
      background-color: #ffffff;
      border-radius: 50%;
      left: 0;
      top: 55%;
    }
  }
  &.p-inputswitch-checked .p-inputswitch-slider {
    background: $primaryColor !important;
    border: solid 2px $primaryColor !important;
  }
  &:not(.p-disabled):hover .p-inputswitch-slider {
    background: #f2f2f2;
  }
}

/* Sobreescribir TabView */
p-tabview {
  .p-tabview {
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 2px 4px 0 rgb(0 0 0 / 4%);
    border-radius: 4px;
    .p-tabview-nav {
      display: none;
    }
  }
}

/* Sobreescribir TabView en modals */
p-dialog {
  .p-tabview {
    box-shadow: none !important;
  }
  .p-datatable-tbody tr {
    font-size: 14px;
    font-family: $fontFamilyRegular;
    height: 60px;
    background-color: #ffffff !important;
  }
}

/* Sobreescribir TabMenu */
.p-tabmenu-nav {
  border-bottom: 0px;
  margin-left: 22px;
  border: none;
  .p-tabmenuitem {
    margin-bottom: -3px;
    padding: 0px;
    padding-top: 5px;
    .p-menuitem-link {
      font-size: 13px;
      border: 0px !important;
      color: #767676 !important;
      border-bottom: 1px solid #767676 !important;
      font-family: $fontFamilyRegular;
      padding-left: 40px !important;
      padding-right: 40px !important;
      background: none !important;
      text-align: center;
      display: inline-block;
      width: 100%;
      background: transparent;
      letter-spacing: 0.4px;
      height: 94%;
    }
    .p-menuitem-link:not(.p-disabled):focus {
      box-shadow: none !important;
    }
    &.p-highlight {
      .p-menuitem-link {
        color: $primaryColor !important;
        font-weight: 500 !important;
        border-bottom: 2px solid $primaryColor !important;
        font-family: $fontFamilyMedium;
        line-height: 1.5;
      }
    }
  }
}

/* Sobreescribir Autocomplete */
p-autocomplete {
  width: 100%;
  border: none !important;
  box-shadow: none;
  outline: none;
  border-radius: 4px;
  &.p-inputwrapper-focus {
    span.p-autocomplete {
      box-shadow: 0 0 0 2px #a6a6a6 !important;
    }
  }
  &.ng-dirty.ng-invalid {
    span.p-autocomplete {
      box-shadow: 0 0 0 1px $inputErrorColor;
    }
    &.p-inputwrapper-focus {
      span.p-autocomplete {
        box-shadow: 0 0 0 2px $inputErrorColor !important;
      }
    }
  }
  span.p-autocomplete {
    width: 408px;
    box-shadow: 0 0 0 1px #a6a6a6;
    border: none;
    outline: none;
    border-radius: 4px;
  }
  .p-autocomplete-panel {
    .p-autocomplete-item {
      height: 64px;
      padding-left: 18px;
      line-height: 34px;
      border-top: 1px solid $dropdownBackgroundColorHover !important;
      background: transparent !important;
      &:hover {
        background: $dropdownBackgroundColorHover !important;
        color: $dropdownColor !important;
      }
      span {
        color: $dropdownColor;
        font-size: $inputFontSize;
        font-family: $fontFamilyRegular;
        line-height: 49px;
      }
    }
  }

  .p-autocomplete-loader {
    display: none !important;
  }
  .p-autocomplete-input {
    border: none;
    border-radius: 4px;
    width: 100%;
    color: $inputColor;
    font-size: $inputFontSize;
    font-family: $fontFamilyRegular;
    &:focus {
      box-shadow: none !important;
    }
  }
  button {
    &.p-autocomplete-dropdown {
      background: transparent !important;
      border-left: 0;
      border: none;
      outline: none;
      pointer-events: none;
      span {
        color: #6c727c;
      }
    }
  }
}
@media (max-width: 600px) {
  p-autocomplete {
    width: 260px;
    span.p-autocomplete {
      width: 260px;
      height: 40px;
    }
  }
}

/* Sobreescribir progressSpinner */
.p-progress-spinner {
  .p-progress-spinner-circle {
    stroke: $spinnerColor !important;
  }
  .p-progress-spinner-svg {
    height: 40px !important;
  }
}

/* Sobreescribir dataTable */
.p-datatable {
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 2px 4px 0 rgb(0 0 0 / 4%);
  padding: 16px;
  background: white;
  .p-datatable-header {
    padding-left: 0px !important;
    padding-right: 0px !important;
    background: white;
    border-top: 0px;
    > div > span {
      width: 100%;
    }
    input {
      width: 100%;
    }
    .p-input-icon-right {
      color: #6c727c;
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #dddddd66;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
    border-radius: 4px;
  }

  .p-datatable-scrollable-header-box {
    padding-right: 0px !important;
  }

  .p-button-link {
    padding: 0;
    margin-top: 5px;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid blue;
    border-radius: 0;
    &:hover {
      background-color: inherit !important;
    }
  }

  .p-datatable-thead > tr > th {
    text-align: left;
    font-size: 14px;
    color: #9b9eac;
    font-family: $fontFamilyBold;
    line-height: 1.71;
    height: 48px;
    border-top: none !important;
    border-bottom: none !important;
    padding: 1.25rem !important;
  }
  .p-datatable-tbody tr {
    font-size: 14px;
    font-family: $fontFamilyRegular;
    height: 60px;
    &:hover {
      &:nth-of-type(even) {
        background: #ffffff !important;
      }
      &:nth-of-type(odd) {
        background: #f5f6fa !important;
      }
    }
    &:nth-of-type(even) {
      background-color: #ffffff;
    }
    &:nth-of-type(odd) {
      background-color: #f5f6fa;
    }
    td {
      color: #666666;
      font-family: $fontFamilyRegular;
      button {
        //iconos de acciones
        background-color: transparent;
        border: none;
        color: #aaaaaa;
        &:hover {
          background-color: #e3e3e3;
          border: #e3e3e3;
          color: #666666;
        }
        &:focus {
          background-color: #f2f2f2;
          color: #666666;
        }
      }
    }
    > td {
      border: 0 none !important;
      padding: 16px !important;
    }
    .p-button:focus {
      box-shadow: none !important;
    }
  }
  // p-sortable-column
  .p-sortable-column:not(.p-highlight):hover {
    background: transparent;
    color: #9b9eac;
  }
  .p-sortable-column.p-highlight,
  .p-sortable-column.p-highlight .p-sortable-column-icon,
  .p-sortable-column .p-sortable-column-icon {
    color: #9b9eac;
  }
  .p-sortable-column {
    outline: none;
  }
  .p-paginator-bottom {
    border: none !important;
    padding: 28px;
  }
}

/* Sobreescribir paginator */
.p-paginator {
  .p-paginator-current {
    margin: 0 !important;
    border: none !important;
    font-size: 14px !important;
    cursor: default !important;
    color: $paginadorPaginatorCurrentColor !important;
  }

  p-dropdown {
    margin-left: 20px !important;
  }

  .p-dropdown {
    height: 40px !important;
    span {
      color: $paginadorFlechaHabilitadaColor;
    }
  }

  .p-dropdown-items {
    padding: 0 !important;
  }

  .p-paginator-first,
  .p-paginator-prev,
  .p-paginator-next,
  .p-paginator-last {
    border: none !important;
    margin: 0 5px 0 5px !important;
    border-radius: 50% !important;
    color: $paginadorFlechaHabilitadaColor !important;
  }

  .p-paginator-first.p-disabled,
  .p-paginator-prev.p-disabled,
  .p-paginator-next.p-disabled,
  .p-paginator-last.p-disabled {
    color: $paginadorFlechaDeshabilitadaColor !important;
  }

  .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
  .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
  .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
  .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
    color: $paginadorFlechaHabilitadaColor !important;
    background-color: $paginadorPaginatorPageHoverFondoColor !important;
  }

  .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    color: inherit !important;
  }

  .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: $paginadorPaginatorPageActivoFondoColor !important;
    border: none !important;
    border-radius: 50% !important;
    color: $paginadorPaginatorPageActivoColor !important;
  }

  .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    border-radius: 50% !important;
    color: $paginadorPaginatorPageActivoColor !important;
    background-color: $paginadorPaginatorPageHoverFondoColor !important;
  }

  .p-paginator-pages .p-paginator-page {
    border: none;
    color: $paginadorPaginatorPageColor !important;
    font-family: $fontFamilyRegular;
  }

  .p-paginator-pages .p-paginator-page:not(:first-of-type) {
    margin-left: 8px;
  }

  .p-link:focus {
    box-shadow: none;
  }

  .p-paginator-right-content {
    margin-left: unset !important;
  }
}

/* Sobreescribir dataTable en TabView y Cards */
p-tabview,
p-card {
  .p-datatable {
    box-shadow: none !important;
  }
}

/* Sobreescribir dividerClass */
.dividerClass::before {
  height: 1px !important;
}

/* Sobreescribir las cards */
.p-card {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 2px 4px 0 rgb(0 0 0 / 4%);
}

/*Sobreescribir input y textarea */
.p-inputtext,
.p-inputtextarea {
  color: $inputColor;
  font-size: 14px;
  font-family: $fontFamilyRegular;
  &:not([disabled]) {
    border: none !important;
  }
  height: 40px;
  &:not(.p-autocomplete-input) {
    &:enabled {
      box-shadow: 0 0 0 1px $inputBoxShadowColor;
    }
    .p-inputtext:not(.p-inputtextarea) {
      height: 40px;
    }
    &:enabled:focus {
      box-shadow: 0 0 0 2px $inputBoxShadowColor;
    }
    &.ng-dirty.ng-invalid {
      box-shadow: 0 0 0 1px $inputErrorColor;
    }
  }
}

/*Sobreescribir dropdown */
p-dropdown,
.p-dropdown-panel.p-component {
  //border: none !important;
  .p-dropdown {
    border: none !important;
    width: 100%;
    &:not(.p-disabled),
    &:not(:disabled) {
      box-shadow: 0 0 0 1px $inputBoxShadowColor !important;
    }
    &.p-dropdown-open.p-focus {
      box-shadow: 0 0 0 2px $inputBoxShadowColor !important;
    }

    .p-dropdown-trigger-icon {
      color: #6c727c;
    }

    .p-dropdown-label {
      padding-top: 0;
      padding-bottom: 0;
      align-items: center;
      display: flex;
    }
  }

  &.ng-dirty.ng-invalid {
    .p-dropdown {
      box-shadow: 0 0 0 1px $inputErrorColor !important;
    }
  }
  span.p-dropdown {
    width: 100%;
    box-shadow: 0 0 0 1px #a6a6a6;
    border: none;
    outline: none;
    border-radius: 4px;
  }
  .p-dropdown-panel,
  .p-dropdown-items-wrapper {
    .p-dropdown-item {
      height: 64px;
      padding-left: 18px;
      line-height: 34px;
      border-top: 1px solid $dropdownBackgroundColorHover !important;
      background: transparent !important;
      &:hover {
        background: $dropdownBackgroundColorHover !important;
        color: $dropdownColor !important;
      }
      span {
        color: $dropdownColor;
        font-size: $inputFontSize;
        font-family: $fontFamilyRegular;
        line-height: 49px;
      }
    }
  }
}

/*Sobreescribir checkbox */
.p-checkbox {
  width: 18px;
  height: 18px;
  .p-checkbox-box {
    border: solid 2px $primaryTextColor;
    border-radius: 2px;
    width: 18px;
    height: 18px;
    &:not(.p-disabled):hover,
    &:not(.p-disabled).p-focus {
      border: solid 2px $primaryTextColor;
    }
    &.p-highlight {
      border-color: $primaryColor !important;
      background: $primaryColor !important;
    }
    &:not(.p-highlight) {
      span {
        &.p-checkbox-icon {
          width: 20px;
        }
      }
    }
    .p-checkbox-icon {
      &::before {
        position: relative;
        left: 2px;
        top: 0px;
        font-size: 17px;
      }
    }
  }
}

/* Sobreescribir Datatables en Dialog */
.p-dialog {
  .p-datatable {
    box-shadow: unset;
  }
}

/* Sobreescribir Dialog */
.p-dialog {
  .p-dialog-header {
    border: none;
    border-bottom: none;
    padding-top: 30px;
  }

  .p-dialog-title {
    font-size: 22px !important;
    color: #333;
    font-weight: 500 !important;
    font-family: $fontFamilyMedium;
  }

  .p-dialog-content {
    border-radius: 4px;
  }
}

/* Sobreescribir treetable */
p-treetable {
  .p-treetable-wrapper {
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 2px 4px 0 rgb(0 0 0 / 4%);
    padding: 20px;
    background: white;

    .p-button-link {
      padding: 0;
      margin-top: 5px;
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      border-bottom: 1px solid blue;
      border-radius: 0;
      &:hover {
        background-color: inherit !important;
      }
    }

    .p-treetable-tbody > tr > td {
      border-top: none;
      border-bottom: 1px solid #dee2e6;
      color: $inputColor;
    }

    .p-treetable-tbody > tr {
      font-size: 14px;
      font-family: $fontFamilyRegular;
      height: 60px;

      &:nth-of-type(even) {
        background-color: #ffffff;
      }
      &:nth-of-type(odd) {
        background-color: #f5f6fa;
      }

      &:last-child td {
        border-bottom: none !important;
      }
    }

    .p-treetable-thead > tr > th {
      font-size: 14px;
      color: #9b9eac !important;
      font-family: $fontFamilyBold;
      height: 48px;
      padding-bottom: 20px;
      border: none !important;
      border-top: none !important;
      border-bottom: none !important;
    }
  }
  .p-treetable-header {
    padding-left: 0px !important;
    background: whitesmoke !important;
    border-top: 0px !important;
    .p-input-icon-right {
      color: #6c727c;
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #dddddd66;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
    border-radius: 4px;
  }

  .p-treetable-scrollable-header-box {
    padding-right: 0px !important;
  }
}

/*Sobreescribir botones primarios, medida del medium según DS */
.p-button:not(.favorito-contenido, .p-button-icon-only, .p-button-link) {
  height: 40px;
  min-width: 100px;
  padding: 0 24px;
  border: none;
  background-color: $primaryColor;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: -0.09px;
  outline: none;
  border-radius: 60px;
  &:enabled:hover:not(.p-button-icon-only) {
    background-color: $primaryColor;
    box-shadow: 0 3px 6px 0 #b0b0b0;
  }
  &:disabled {
    background-color: $primaryColor;
    opacity: 0.18;
  }
  /*&:active {
    > span {
      border-radius: 9% 9% 9% 9%/50% 50% 50% 50%;
      background-color: #ffffff;
      opacity: 0.2;
      display: inline-block;
      width: auto;
      line-height: 50px;
      height: 50px;
    }
  }*/
  &:enabled:active {
    background: $primaryColor;
    border-color: $primaryColor;
  }
  &:focus {
    box-shadow: none !important;
  }
}
/*Sobreescribir botones small*/
.p-button-sm {
  height: 32px !important;
  font-size: 12px !important;
  line-height: 3 !important;
  letter-spacing: -0.07px !important;
}
/*Sobreescribir botones large*/
.p-button-lg {
  height: 48px !important;
  min-width: 180px !important;
  padding: 0 32px !important;
  font-size: 18px !important;
  line-height: 2.67 !important;
  letter-spacing: -0.02px !important;
}

/* Sobreescribir botones secundarios */
.p-button-secondary,
.p-button-outlined {
  color: $primaryColor !important;
  border: solid 2px $primaryColor !important;
  background-color: #ffffff !important;
  &:hover {
    box-shadow: 0 3px 6px 0 #cecece !important;
    background-color: #ffffff !important;
  }
  /*&:active {
    > span {
      border-radius: 20% 20% 20% 20%/50% 50% 50% 50%;
      background-color: $primaryColor;
      opacity: 0.2;
      display: inline-block;
      width: auto;
      line-height: 50px;
      height: 50px;
    }
  }*/
  &.p-button-sm {
    border: solid 1.5px $primaryColor !important;
  }
}

/* Sobreescribir botones link */
.p-button-link {
  font-size: 17px;
  line-height: 3;
  letter-spacing: -0.18px;
  color: $primaryColor !important;
  min-width: 136px !important;
  padding: 0 32px 0 32px !important;
  text-decoration: underline;
  &:disabled {
    color: #bac1de !important;
    background-color: transparent !important;
    opacity: 1 !important;
  }
  &:hover:not([disabled]) {
    box-shadow: none !important;
    color: #2c49cc !important;
  }
  &:enabled:focus,
  &:focus {
    box-shadow: none !important;
  }
}
.p-button-link-sm {
  font-size: 14px !important;
}
