::ng-deep .p-card .p-card-title{
    margin-top: 14px;
    margin-bottom: 30px;
    margin-left: 53px;
}

::ng-deep .p-card .p-card-content{
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    padding: 0;
}

::ng-deep .p-card .p-card-body{
    width: 100%;
    padding: 0px;
}

::ng-deep p-steps{
    width: 100%;
}

::ng-deep a.p-menuitem-link{
    cursor:pointer
}

::ng-deep .p-steps .p-steps-item.p-highlight .p-steps-number {
    background: #e5e5e5;
    color: #3457fa;
    border: 2px solid #3457fa;
}

::ng-deep .p-steps .p-steps-item.p-highlight .p-steps-title{
    color: #3457fa !important;
    font-weight: bolder;
}

::ng-deep .p-steps .p-steps-item:not(.p-highlight) .p-menuitem-link .p-steps-number{
    background: #e5e5e5;
    color: black;
    border: 1px solid black;
    transition: all .3s;
}


::ng-deep .p-steps .p-steps-item .p-menuitem-link .p-steps-title{
    color: black;
}

::ng-deep .p-steps .p-steps-item:before{
    border-top: 1px solid black;
}

div.container-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px 77px;
}


div.container-buttons > button{
    cursor:pointer;
    border: none;
    background: none;
    color: blue;
    font-weight: bold;
    width: 10%;
}

.btn-volver{
    width: 60px;
    height: 20px;
    background-image: url('../../../assets/icons/btn-volver.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

}

::ng-deep p-card.card-container{
    display: flex,;
    flex-direction:column;
    padding: 18px 24px;
    max-width: 1100px;
    margin: 0 auto;
}

div.container-info  {
    display: flex;
    flex-direction: column;
    width: 198px;
    text-align: center;
    justify-content: center;
    height: auto;
    background-color: #ffffff;
    border-radius: 4.4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    border-top: solid 3px #163881;
    padding: 26px 24px;
}

div.container-info > h3{
    margin-top: 8px;
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 14px;
}

div.container-info > p:nth-child(2){
    font-size: 12px;
    color: #999;
    margin-bottom: 25px;
    line-height: 12px;
}

div.container-info > h2{
    font-size: 28px;
    color: #333;
    font-weight: normal;
    margin:0;
    line-height: 16px;
}

div.container-info > p:nth-child(4){
    margin-top: 7px;
    font-size: 10px;
    color: #333;
    margin-bottom: 0;
    line-height: 10px;
}

div.container-info > h4{
    color:#333;
    font-weight: normal;
    font-size: 22px;
    margin-top:16px;
    margin-bottom:0;
    line-height: 16px;

}

div.container-info > p:nth-child(6){
    margin-top: 4px;
    font-size: 10px;
    color: #333;
    margin-bottom: 0;
    line-height: 10px;
}

div.container-info > p:nth-child(7){
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 14px;
    color: #999;
    line-height: 10px;
}
div.container-info > p:nth-child(8){
    margin-top: 3px;
    margin-bottom: 24px;
    font-size: 8px;
    color: #999;
    line-height: 8px;
}

div.container-info > button{
    border-radius: 16px;
    border: solid 1px #3457fa;
    padding: 10px 26px;
    font-size: 12px;
    color: #3457fa;
    text-align: center;
    font-weight: bold;
    background-color: #ffffff;
    cursor: pointer;
    transition: all .3s;
}

div.container-info > button:hover{
    background-color: #3457fa;
    color: #ffffff;
    
}

div.footer{
    padding-top: 30px;
    text-align: center;
    width: 100%;
}

div.footer > a{
    font-size: 12px;
    color: #3457fa;
    text-decoration: underline;
}