<div class="container" style="display: flex; flex-direction: column;">
    <div class="container-buttons">
        <button [hidden]="hiddenBackButton()" [routerLink]="['/productos']"> < Volver</button>
        <p-steps [model]="items" [(activeIndex)]="dialogPageIndex" [readonly]="false"></p-steps>
    </div>
<p-card [ngSwitch]="dialogPageIndex" [header]= "headerCard()" [style]="{'display': 'flex', 'flex-direction':'column','padding':'18px 24px', 'max-width': '1100px', 'margin': '0 auto'}">
    <div *ngSwitchCase="PageNames.TipoCobertura">
        <div style="display: flex; justify-content: space-between;">
            <div *ngFor="let cobertura of coberturas"class="container-info" >
                <h3>Plan 1</h3>
                <p>Robo</p>
                <h2>$50.000</h2>
                <p>Suma asegurada</p>
                <h4>$475</h4>
                <p>Por mes</p>

                <p>20%</p>
                <p>Franquicia</p>

                <button (click)="seleccionarPlan()">Elegir plan</button>
            </div>
        </div>
        <div class="footer">
            <a href="#">Conocé el detalle de las coberturas</a>
        </div>
    </div>
    <div *ngSwitchCase="PageNames.DocumentacionPersonal">
        Futuro formulario para Documentacion Personal
    </div>
    <div *ngSwitchCase="PageNames.DocumentacionRespaldatoria">
        Futuro formulario para Documentacion Respaldatoria
    </div>
    <div *ngSwitchCase="PageNames.Pago">
        Futuro formulario para Pago
    </div>
</p-card>


</div>